<div class="text- flex justify-center space-x-4 items-center text-lg font-bold h-screen  border">
  <%= link_to "ログイン", new_user_session_path, class:  "px-6 py-3 bg-blue-500 text-white rounded-lg shadow-md hover:bg-blue-600 transition" %><br />
  <%= link_to "新規登録", new_user_registration_path, class: "px-6 py-3 bg-orange-500 text-white rounded-lg shadow-md hover:bg-orange-600 transition" %><br />
</div>