<%= form_with(model: @post, local: true, data: { turbo: false }) do |form| %>

  <div class="mb-4">
    <%= form.label :title, class: "block text-lg font-semibold mb-2" %>
    <%= form.text_field :title, class: "w-full p-2 border border-gray-300 rounded-md" %>
  </div>

  <div class="mt-6 text-center">
    <%= form.submit class: "px-6 py-3 bg-blue-500 text-white rounded-lg hover:bg-blue-600 transition" %>
  </div>
<% end %>

